html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

input {
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: $page-background-color;
  color: $page-text-color;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.28581;
  text-transform: none;
}

.page {
  background-color: $page-background-color;
  color: $page-text-color;
}

.bp3-dark .bp3-menu-item.bp3-intent-primary:hover,
.bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item,
.bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item,
.bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
